<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Create Account</h2>

<!-- <form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Register</button>
</form> -->

<form method="POST">
    {% if form.errors %}
    <div style="color: red;">
        {{ form.errors }}
    </div>
{% endif %}
    {% csrf_token %}
    <label>Username</label>
    {{ form.username }}
    
    <label>Password</label>
    {{ form.password1 }}
    
    <label>Confirm Password</label>
    {{ form.password2 }}
    
    <button type="submit">Register</button>
</form>

<p>Already have an account? <a href="{% url 'login' %}">Login</a></p>

</body>
</html>